{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class=message>{{message}}</div>
{% endfor %}
{% endif %}
{% endwith %}
<div>{{catalog.catalogname}}</div>
<nav class="toc">
	<ul>
		{% for i in items %}
		<li>
			<a href='#{{i.itemname}}'>{{i.itemname}}</a>
    	</li>
    	{% endfor %}
    </ul>
    <svg class="toc-marker" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
    	<path stroke="#444" stroke-width="3" fill="transparent" stroke-dasharray="0, 0, 0, 1000" stroke-linecap="round" stroke-linejoin="round" transform="translate(-0.5, -0.5)" />
  </svg>
</nav>
<article class="content">
	{% for i in items %}
	<div id = '{{i.itemname}}'><h2>{{i.itemname}}</h2></div>
	<div>{{i.description}}</div>
	<div>Published in {{i.year}}</div>
	{%if 'username' in session %} 
	<div class = 'button'>
		<a href="{{url_for('editItem',catalogname = catalog.catalogname,itemname = i.itemname)}}" >Edit</a>
		<a href="{{url_for('deleteItem',catalogname = catalog.catalogname,itemname = i.itemname)}}" >Delete</a>
	</div>
	{% endif %}
	{% endfor %}
{%if 'username'  in session %}
<div class='footer'>
<div class= 'button'>
	<a href = '{{url_for('newItem',catalogname = catalogname)}}'>Create New Item</a>
</div>
<div class = 'button'>
	<a href="{{url_for('editCatalog',catalogname = catalog.catalogname)}}" >Edit {{ catalog.catalogname }}</a>
	<a href="{{url_for('deleteCatalog',catalogname = catalog.catalogname)}}" >Delete {{ catalog.catalogname }}</a>
</div>
{% endif %}
</div>
</article>
<script type=text/javascript src="{{
  url_for('static', filename='js/navVar.js') }}"></script>
{% endblock %}